/* In the interest of responsive web design, every size is in terms of vw (viewport width). */
/* default style */
body,
html {
  height: 100%;               
  font-family: 'Inter', sans-serif;              
  color: #000000;                        
  background-color: 
  #ffffff;
}

/* text styles */
h1 {
  font-size: 4.5vw;
  font-weight: 700;
  color: #ffffff;
  background: rgba(0, 0, 0, .5);
  text-align: center;
	padding: 2vw;
}

h2 {
  font-size: 2.25vw;
  font-weight: 700;
  color: #123785;
  background-color: #B5D4FB;
  text-align: center;
	padding: 1vw;
}

h3 {
  font-size: 3vw;
  font-weight: 700;
  color: #123785;
  text-align: left;
}

h4{
  font-size: 2vw;
  font-weight: 700;
  color: #123785;
  text-align: left;
}

a {
  text-decoration: underline;
  color: #000000;
}

.text-section {
  font-size: 1.75vw;
  padding: 0vw 3vw 3vw;
}

.imp {
  color: red;
  font-weight: 700;
}

button {
  border: none;
  outline: none;
  margin: 0;
  font-size: 2.25vw;
  font-weight: 700;
  color: #123785;
  background-color: #B5D4FB;
  text-align: center;
	padding: 1vw;
}

#show_cluster_centres:hover {
  background-color: rgba(0, 0, 0, .25);
}

/* navigation menus */
.navbar{
  background-color: #B5D4FB;
  overflow: hidden;
}

.navbar a{
  text-align: center;
  float: left;
	text-decoration: none;
	color: #123785;
	font-size: 2vw;
  font-weight: 700;
	padding: 1vw;
}

.subnav {
  float: left;
  overflow: hidden;
}

.subnav .subnavbtn {
  font-size: 2vw;
  font-weight: 700;
  border: none;
  outline: none;
  color: #123785;
  padding: 1vw;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav-content {
  display: none;
  position: absolute;
  left: 0;
  background-color: #123785;
  width: 100%;
  z-index: 1;
}

.subnav-content a {
  float: left;
  color: white;
  font-size: 2vw;
  text-decoration: none;
}

.navbar a:hover, .subnav:hover .subnavbtn, .subnav-content a:hover{
	background-color: rgba(0, 0, 0, .25);
}

.subnav:hover .subnav-content {
  display: block;
}

/* images and associated links */
.home-title-image {
  background-image: url("images/image1.png");
  background-size: cover;
  height: 20vw;
  alt: "An image of white clouds against a blue sky.";
}

.about-title-image {
  background-image: url("images/image2.png");
  background-size: cover;
  height: 20vw;
  alt: "An image of a GTA Urban Emissions Project researcher riding a bike on the streets of Toronto.";
}

.lgr-analyzer-image {
  background-image: url("images/lgr_analyzer.png");
  background-size: cover;
  height: 18vw;
  width: 18vw;
  padding-left: 7vw;
  alt: "An image of the LGR Ultraportable Greenhouse Gas Analyzer.";
}

.spectrometer-image {
  background-image: url("images/em27_sun_spectrometer.png");
  background-size: cover;
  height: 18vw;
  width: 25vw;
  alt: "An image of the EM27/SUN Fourier Transform Spectrometer set up with the Toronto skyline in the background.";
}

.warming-potential-image {
  background-image: url("images/methane_warming_potential.png");
  background-size: cover;
  height: 29vw;
  width: 28vw;
  padding-left: 2vw;
  alt: "A bar chart showing that methane's warming potential is 32 times higher than that of carbon dioxide.";
}

.warming-potential-link {
  text-align: center;
  font-size: 1vw;
}

/* footer */
@media (min-width: 768px) {
  footer {
    background-color: #B5D4FB;
    padding: 0vw 3vw 3vw;
  }
}

@media (max-width: 768px) {
  footer {
    background-color: #B5D4FB;
    padding: 0vw 1vw 1vw;
  }
}

.footer-text-left {
  font-size: 1.75vw;
  padding: 0vw;
}

.footer-text-right {
  font-size: 2vw;
  font-weight: 700;
  line-height: 4vw;
  padding: 0vw 0vw 0vw 1vw;
  text-align: right;
}

.footer-text-right a {
  color: #123785;
  text-decoration: underline;
}

/* tables */
table {
  width: 100%;
}

.home-heading:nth-child(1) {
  width: 33%;
}

.home-heading:nth-child(2) {
  width: 33%;
}

.home-heading:nth-child(3) {
  width: 33%;
}

.home-cell:nth-child(1) {
  width: 50%;
}

.home-cell:nth-child(2) {
  width: 50%;
}

/* map stuff */
.map {
  width: 90%;
  height: 100%;
  top: 0.5vw;
  left: 2.5vw;
  bottom: 2.5vw;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.cluster-map {
  top: 0.5vw;
  left: 2.5vw;
  bottom: 2.5vw;
  flex: 10%;
}

.text-section-cluster-map {
  align-items: right;
  padding: 4vw;
  font-size: 1.25vw;
  flex: 10%;
}

.text-section-cluster-map td {
  background-color: rgb(222, 222, 222);
  padding: 1vw;
}

.text-section-cluster-map h4 {
  font-size: 2.5vw;
  text-align: center;
}

.text-section-cluster-map img {
  max-width: 30vw;
  max-height: 30vw;
}

.report_map {
  width: 100%;
  height: 28vw;
}

.leaflet-container { font-size: 1rem; }

/* Responsive layout for cluster and ERT maps - makes a one column-layout instead of a two-column layout */
@media (max-width: 800px) {
  .text-section-cluster-map img {
    max-width: 5vw;
    max-height: 5vw;
  }
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.container {
    z-index: 9999;
    position: fixed;
    bottom: 0;
}